.dynamic-text {
  position: relative;
  display: flex;
  font-size: 40px;

  .simply {
    color: black;
    font-weight: 600;
    font-size: 50px;
    text-align: left;
  }

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
  }
  .word {
    position: absolute;
  }
  @keyframes color {
    0% {
      color: #E08330;
    }
    50% {
      color: #4EAABF;
    }
    100% {
      color: #9EBF43;
    }
  }
  .letter {
    transform: translateZ(200px);
  }
  @keyframes anim {
    25% {
      transform: translateZ(0px);
      opacity: 1;
    }
    32% {
      opacity: 0;
      transform: translateZ(-280px) translateX(200px);
    }
  }
}

